.video {
    display: flex;
    margin-bottom: 3%;
    video {
        width: 35%;
        height: 23vw;
    }
    view {
        margin-left: 5%;
        text {
            display: block;
        }
        input {
            border: 1px solid gray;
            border-radius: 10px;
            padding-left: 5%;
            margin-bottom: 3%;
        }
        button{
            width: 40%;
            margin-right: 10%;
            display: inline-block;
        }
    }
}